*{  
    box-sizing: border-box;
    position: relative;
   
}
/* Set additional styling options for the columns*/
.column  {
    float: left;
    width: 50%;
    height: 350px;
    display: block;
    padding: 10px;
    text-align: center;

}
button{
    background-color: rgb(188, 188, 196);
    border-radius: .3rem;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);  
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size:1rem;
    margin-right: -50%;
    transform: translate(-50%, -50%); 


}
p{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    font-size: 1rem;
    font-weight: bolder;
}

.row:after {
content: "";
display: table;
clear: both;
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .row, .column {
      width: 100%;
    }
  }